{% extends "layout.html" %}
{% block content %}
  <h1>Explore</h1>
  <p>This page is for displaying random math problems or new problems</p>
  <p>Hello</p>
  {% for problem in problems %}
    <div id="problemCard">

      <div id="cardHeader" class="cardSection">
        <p id="topicName">Addition</p>
        <!-- Ratings might be numbers or be small bars that fill with color when their value increases-->
        <div id="ratings">
          <p id="timeRating">15 mins</p>
          <p id="difficultyRating">3</p>
          <p id="confidenceRating">2</p>
        </div>
      </div>

      <div id="cardBody" class="cardSection">
        <p id="question">33+26</p>
      </div>

      <div id="cardFooter" class="cardSection">
        <p id="hiddenAnswer">59</p>
        <p id="problemAuthor">Luke Weiler</p>
        <p id="dateCreated">02-11-2020</p>
      </div>

    </div>
  {% endfor %}

{% endblock content %}
