{% extends "layout.html" %}

{% block head %}

<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

{% endblock head %}

{% block content %}

<div id="generatorBox">
  <h1 id="generatorTitle">{{ genTitle }}</h1>
  <h3 id="generatorOutput">{{ problem }}{{ solution }}</h3>
  <button id="generateButton" onclick="generateProb({{ genId }})">Generate</button>
</div>
<div id="generatorListBox">
  <h1>Choose a generator below</h1>
  <ul id="generatorList">
  {% for generator in generators %}
    <li class="genListItem" id="gen_{{ generator[0] }}"><a href="{{ url_for('main.generate', genId=generator[0] ) }}">{{ generator[1] }}</li>
  {% endfor %}
  </ul>
</div>
<script>
  function generateProb(genId) {
    $.getJSON($SCRIPT_ROOT + '/generate/request', {
      genId: genId
    }, function(data) {
      $("#generatorOutput").text(data.problem + data.solution);
    });
  }
</script>
<style>
  #generatorBox {
    position: relative;
    background-color: #2d3035;
    height: 30vh;
    width: 50vw;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
  }
  h1 {
    color: #d04949;
  }
  #generateButton {
    position: absolute;
    width: calc(100% - 45px);
    bottom: 15px;
  }
  #generatorListBox {
    background-color: #2d3035;
    height: auto;
    width: 50vw;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    border-radius: 15px;
  }
  #generatorList {
    list-style-type: none;
    /*margin: 0;
    padding: 0;*/
  }
  .genListItem {
    margin-top:5px;
  }
</style>
{% endblock content %}
