{% extends "layout.html" %}
{% block content %}
  <h1>List of pages</h1>
  <div id="sitemapList">
    <ul>
      <li><h5>Main</h5></li> &nbsp;
      <li><a href="{{ url_for('main.topicBrowser', topic_id=1) }}">Topic Browser</a></li> &nbsp;
      <li><a href="{{ url_for('main.landing') }}">Landing</a></li> &nbsp;
      <li><a href="{{ url_for('main.explore') }}">Explore</a></li> &nbsp;
      <li><a href="{{ url_for('main.viewUser', userId=1) }}">View User</a></li> &nbsp;
      <li><a href="{{ url_for('main.viewTopic', topicId=1) }}">View Topic</a></li> &nbsp;
      <li><a href="{{ url_for('main.solveProblems', topicId=1) }}">Solve Problems</a></li> &nbsp;
      <li><a href="{{ url_for('main.siteMap') }}">SiteMap</a></li> &nbsp;
      <li><a href="{{ url_for('main.quizMaker') }}">QuizMaker</a></li> &nbsp;


      <li><h5>Post</h5></li> &nbsp;
      <li><a href="{{ url_for('post.newPost') }}">Submit New Problem</a></li> &nbsp;
      <li><a href="{{ url_for('post.createTopic') }}">Create A Topic</a></li> &nbsp;

      <li><h5>Search</h5></li> &nbsp;
      <li><a href="{{ url_for('search.search_page') }}">Search</a></li> &nbsp;

      <li><h5>Auth</h5></li> &nbsp;
      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li> &nbsp;
      <li><a href="{{ url_for('auth.login') }}">Login</a></li> &nbsp;
      <li><a href="{{ url_for('auth.register') }}">Register</a></li> &nbsp;

      <li><h5>Bot Upload</h5></li> &nbsp
      <li><a href="{{ url_for('botupload.generate') }}">Run The Bot</a></li> &nbsp;

    </ul>
  </div>
{% endblock content %}
