{% extends "layout.html" %}
{% block content %}
  <h1>Solve Problems</h1>
  
  <table>
    <tr>
      <th>Problem</th>
      <th>Answer</th>
      <th>Topic</th>
      <th>Author</th>
      <th>Checks</th>
      <th>Difficulty</th>
      <th>Length</th>
    </tr>
    {% for problem in problems.items %}
    <tr>
      <td id="questiondata"><a href="{{ url_for('post.viewProblem', problem_id=problem.id) }}">{{ problem.question }}</a></td>
      <td id="answer">{{ problem.answer }}</td>
      <td id="topic">{{ problem.topic.topicName }}</td>
      <td id="author">{{ problem.poster.username }}</td>
      <td id="checks">{{ problem.confirmedCorrect }}</td>
      <td id="difficulty">{{ problem.difficultyLevel }}</td>
      <td id="time">{{ problem.expectedTime }}</td>
    </tr>
    {% endfor %}
  </table>
  {% for page_num in problems.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if problems.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('main.solveProblems', page=page_num, topicId=topic.id) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('main.solveProblems', page=page_num, topicId=topic.id) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content %}
