{% extends "layout.html" %}

{% block head %}

<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

{% endblock head %}

{% block content %}
<div class="leftSideContainer">
  <h1 class="leftSideHeadline">Thanks for contributing!</h1>
  <h3 class="leftSideDescription">This form will add your problem to the already massive
    Todarith database. Your contribution will aid in
advancing the teaching power of ai! If you want to
upload a large amount of problems at one time, consider
uploading via spreadsheet (linked here).</h3>
</div>

  <div id="addGradientBox" class="rightSideGradientBox">
    <div class="formBox">
      <form>
        <!--
        <div class="formGroup">
          <p class="formLabel">Problem</p>
          <input type="text" id="add_problemInput" class="underline_input">
        </div>
        <div class="formGroup">
          <p class="formLabel">Answer</p>
          <input type="text" id="add_answerInput" class="underline_input">
        </div>
        -->
        <p class="formLabel">Problem</p>
        <input type="text" id="add_problemInput" class="underline_input">
        <p class="formLabel">Answer</p>
        <input type="text" id="add_answerInput" class="underline_input">
        <button id='btn_submit' type='button'>Submit</button>
      </form>
    </div>
    <p id="result"></p>
  </div>


  <script type=text/javascript>
    var probCont = document.getElementById("add_problemInput");
    var ansCont = document.getElementById("add_answerInput")

    var enteredProblem, enteredAnswer, enteredCategory;
    $(function() {
      $('button#btn_submit').bind('click', function() {
        console.log("activated")
        $.getJSON($SCRIPT_ROOT + '/db/add/_get_problem_input', {
          problem: probCont.value,
          answer: ansCont.value
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
  </script>
{% endblock content %}
