{% extends "layout.html" %}

{% block head %}


<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

{% endblock head %}

{% block content %}

  <div class="leftSideContainer">
    <h1 class="leftSideHeadline">Help Answer Problems</h1>
    <h3 class="leftSideDescription">On this page you can solve user-submitted
    problems</h3>
  </div>

  <div id="answerGradientBox" class="rightSideGradientBox">
    <h2>Category</h2>
    <h1>Mathematics</h1>
    <div id="modeSelector">
      <div id="cardSvg"></div>
      <div id="tableSvg"></div>
    </div>

    <div class="formBox">
      <form>
        <div class="formGroup">
          <p class="formLabel">Problem</p>
          <h3 id="answer_problem">{{ problem.question }}</h3>
          <!--<input type="text" id="answer_problemInput" class="underline_input" placeholder="{{ problem.question }}">-->
        </div>
        <div class="formGroup">
          <p class="formLabel">Answer</p>
          <input type="text" id="answer_answerInput" class="underline_input">
        </div>
        <button id='btn_flag' type="button">Flag</button>
        <button id='btn_submit' type='button'>Submit</button>
        <button id='btn_skip' type="button">Skip</button>
      </form>
    </div>
    <p id="foundStatus"></p>
    <p id="answer"></p>
  </div>


  <script type=text/javascript>
    var probCont = document.getElementById("answer_problem");
    var ansCont = document.getElementById("answer_answerInput");

    $(function() {
      $('button#btn_submit').bind('click', function() {
        console.log("activated")
        $.getJSON($SCRIPT_ROOT + '/db/answer/_get_answer_input', {
          problem: probCont.innerHTML,
          answer: ansCont.value
        }, function(data) {
          probCont.innerHTML = data.problem;
          ansCont.value = data.answer;
        });
        return false;
      });
    });

    $(function() {
      $('button#btn_flag').bind('click', function() {
        console.log("activated")
        $.getJSON($SCRIPT_ROOT + '/db/_flag_problem', {
          problem: probCont.innerHTML
        }, function(data) {
          probCont.innerHTML = data.problem;
          ansCont.value = data.answer;
        });
        return false;
      });
    });

    $(function() {
      $('button#btn_skip').bind('click', function() {
        console.log("activated")
        $.getJSON($SCRIPT_ROOT + '/db/_skip_problem', {
          problem: probCont.innerHTML
        }, function(data) {
          probCont.innerHTML = data.problem;
          ansCont.value = data.answer;
        });
        return false;
      });
    });
  </script>
{% endblock content %}
