{% extends "layout.html" %}

{% block head %}

<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

{% endblock head %}

{% block content %}

  <div class="leftSideContainer">
    <h1 class="leftSideHeadline">Ask Us A Math Problem!</h1>
    <h3 class="leftSideDescription">After submitting this form, we will search our database
    for your problem and attempt to give you the answer. If we don't have it or can't solve it, we will
  have it answered by our community as soon as possible.</h3>
  </div>

  <div id="askGradientBox" class="rightSideGradientBox">
    <div class="formBox">
      <form>
        <!--<div class="formGroup">
        </div>-->
        <p class="formLabel">Problem</p>
        <input type="text" id="ask_problemInput" name="askInput">
        <button id='btn_submit' type="submit" name="button">Submit</button>
      </form>
    </div>
    <p id="foundStatus"></p>
    <p id="answer"></p>
  </div>

  <script type=text/javascript>
    var enteredProblem, enteredAnswer, enteredCategory;
    $(function() {
      $('button#btn_submit').bind('click', function() {
        var ansAttempt = attemptSolve(document.getElementById('ask_problemInput').value);
        if (ansAttempt != "") {
          $.getJSON($SCRIPT_ROOT + '/db/ask/_add_solved', {
            problem: document.getElementById('ask_problemInput').value,
            answer: ansAttempt
          }, function(data) {
            $("#answer").text("The answer is: " + data.answer);
          });
        }
        else {
          $.getJSON($SCRIPT_ROOT + '/db/ask/_get_problem_input', {
            problem: document.getElementById('ask_problemInput').value,
            category: enteredCategory
          }, function(data) {
            $("#answer").text(data.answer);
          });
        }
        return false;
      });
    });

    function attemptSolve(input) {
      var answer = "";

      try { answer = math.evaluate(input).toString(); }
      catch(err) { console.log(err.message); }

      console.log(answer);
      return answer;
    }
  </script>
{% endblock content %}
