{% extends "layout.html" %}

{% block head %}

<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

{% endblock head %}

{% block content %}
  <div class="leftSideContainer">
    <h1 class="leftSideHeadline">Thanks for contributing!</h1>
    <h3 class="leftSideDescription">This form will add your problem to the already massive
      Todarith database. Your contribution will aid in
advancing the teaching power of ai! If you want to
upload a large amount of problems at one time, consider
 uploading via spreadsheet (linked here).</h3>
  </div>

  <div id="askGradientBox" class="rightSideGradientBox">
    <div class="formBox">
      <form>
        <div class="formGroup">
          <p class="formLabel">Problem</p>
          <span id="problem" class="mathquillField"></span>
        </div>
        <div class="formGroup">
          <p class="formLabel">Answer</p>
          <span id="answer" class="mathquillField"></span>
        </div>
        <div class="formGroup">
          <p class="formLabel">Category</p>
          <span id="category" class="mathquillField"></span>
        </div>
        <button id='btn_submit' type="submit" name="button" onclick="probSubmit()">Submit</button>
      </form>
    </div>
    <p id="result"></p>
  </div>

  <script>
      function probSubmit() {

      }
  </script>


  <script>
    var problemSpan = document.getElementById('problem');
    var problemMathField = MQ.MathField(problemSpan, {
      handlers: {
        edit: function() {
          enteredProblem = problemMathField.latex(); // Get entered math in LaTeX format
        }
      }
    });

    var answerSpan = document.getElementById('answer');
    var answerMathField = MQ.MathField(answerSpan, {
      handlers: {
        edit: function() {
          enteredAnswer = answerMathField.latex(); // Get entered math in LaTeX format
        }
      }
    });

    var categorySpan = document.getElementById('category');
    var categoryMathField = MQ.MathField(categorySpan, {
      handlers: {
        edit: function() {
          enteredCategory = categoryMathField.latex(); // Get entered math in LaTeX format
        }
      }
    });
  </script>

  <script type=text/javascript>
    var enteredProblem, enteredAnswer, enteredCategory;
    $(function() {
      $('button#btn_submit').bind('click', function() {
        console.log("activated")
        $.getJSON($SCRIPT_ROOT + '/db/_get_problem_input', {
          problem: enteredProblem,
          answer: enteredAnswer,
          category: enteredCategory
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
  </script>
{% endblock content %}
