{% extends "layout.html" %}

{% block head %}

<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<!--
<script type=text/javascript src="{{ url_for('static', filename='scripts/learn_practice.js') }}"></script>
-->
{% endblock head %}

{% block content %}

  <!--
  <div class="leftSideContainer">
    <h1 class="leftSideHeadline">Browse Problems!</h1>
    <h3 class="leftSideDescription"> Here you can browse the database and see all
      that todarith has to offer.</h3>
  </div>

  <div id="browseGradientBox" class="rightSideGradientBox">

  </div>
  -->
  <div id="browseCont">
    <div id="paramCont">

    </div>
    <div id="browseProbCont">
      {% for problem in problems.items %}
      <div class="probCont">
        <a href="{{ url_for('post.viewProblem', problem_id=problem.id) }}">$${{ problem.question }}$$</a>
        {% for skill in problem.skills %}
        <div class="skillbox">
          <a href="#">{{ skill.skillName }}</a>/div>
        </div>
        {% endfor %}
        <a href="{{ url_for('main.viewUser', user_id=problem.poster.id) }}">{{ problem.poster.username }}</a>
        <p>{{ problem.difficultyLevel }}</p>
        <p>{{ problem.expectedTime }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
