{% extends "layout.html" %}

{% block content %}
<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>


  <div id="viewProblemCard">

    <div id="cardHeader" class="cardSection">
      {% if current_user.is_authenticated %}
        <a onclick="removeProb()" href="javascript: void(0)" style="color: red;">Remove Problem</a>
      {% endif %}
      <!-- Ratings might be numbers or be small bars that fill with color when their value increases-->
      <div id="ratings">
        <p id="timeRating">Estimated time: {{ problem.expectedTime }}</p>
        <p id="difficultyRating">Difficulty (1-10):{{ problem.difficultyLevel }}</p>
        <p id="confidenceRating">Confidence Rating (1-10): {{ problem.confirmedCorrect }}</p>
      </div>
    </div>

    <div id="cardBody" class="cardSection">
      <p id="questionContent">Question: {{ problem.question }}</p>
    </div>

    <div id="cardFooter" class="cardSection">
      <p id="hiddenAnswer">Answer: {{ problem.answer }}</p>
      <p id="problemAuthor">Author: {{ problem.poster.username }}</p>
      <p id="dateCreated">Date Created: Unavailable</p>
    </div>


  </div>
  <script>
    function removeProb(){
      id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
      $.getJSON($SCRIPT_ROOT + '/db/removeProb', {
        id: id
      }, function(data) {
        console.log(data.message)
      });
      window.location.href = "https://todarith.ml/db/";
    }
  </script>
{% endblock content %}
