{% extends "layout.html" %}

{% block head %}


<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

{% endblock head %}

{% block content %}

  <p id="hiddenId" style="display: none">{{ problem.id }}</p>
  <div class="leftSideContainer">
    <h1 class="leftSideHeadline">Help Sort Problems</h1>
    <h3 class="leftSideDescription">On this page you can add skills to problems
    so that other people can find problems easily</h3>
  </div>

  <div id="sortGradientBox" class="rightSideGradientBox">
    <div class="formBox">
      <form>
        <div class="formGroup">
          <p class="formLabel">Problem</p>
          <p id="sort_problem">{{ problem.question }}</p>
          <!--<input type="text" id="answer_problemInput" class="underline_input" placeholder="{{ problem.question }}">-->
        </div>
        <div class="formGroup">
          <p class="formLabel">Answer</p>
          <p id="sort_answer">{{ problem.answer }}</p>
        </div>
        <div>
          <p>Skills:</p>

          <ul id="skillsList">
            {% for skill in problem.skills %}
              <li id="sortSkill_{{ skill.id }}">{{ skill.skillName }} <a style="color: blue" href="#" onclick="removeSkill({{ skill.id }}, {{ problem.id }})">remove</a></li>
            {% endfor %}
            <template>
              <li>asdf
              </li>
            </template>
          </ul>
        </div>
      </form>

    <input type="text" id="sort_addSkillQuery" oninput="queryEdited()" placeholder="Search For A Skill"></input>
    <button id='btn_add' onclick="addSkill()">Add</button>
    <button id='btn_createSkill' onclick="createSkill()">Create New Skill</button>
    <div id="sort_skillList">
      <h1 id="sort_queryResult"></h1>
    </div>

    <div id="sortButtons">
      <button id='btn_flag' name="button">Flag</button>
      <button id='btn_next' name="button">Next</button>
    </div>
  </div>

  <script>
    var curProbId = document.getElementById("hiddenId").innerHTML;

    console.log(curProbId);
    //console.log({{ problem.id }});
    //var curProbId = {{ problem.id }};//some problem here
    var selectedSkillId = 0;

    function displaySkill(name, id) {
      var temp = document.querySelector('template').content;
      var li = temp.querySelector('li');
      var text_to_change = li.childNodes[0];
      text_to_change.nodeValue = name;
      li.id = "sortSkill_" + id;
      if (li.childNodes[1] != undefined) {
        li.removeChild(li.childNodes[1])
      }
      var a = document.createElement("a");
      curProbIdString = "'" + curProbId.toString() + "'";
      a.innerHTML = '<a style="color: blue" href="#" onclick="removeSkill(' + id.toString() + ', ' + curProbIdString + ')"> remove</a>';
      li.appendChild(a);
      document.querySelector('#skillsList').appendChild(document.importNode(temp, true));
    }

    $(function() {
      $('button#btn_flag').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/db/_flag_problem', {
          //nada
        }, function(data) {
          //nope
        });
        return false;
      });
    });

    $(function() {
      $('button#btn_next').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/db/sort/_next_problem', {
          //zip
        }, function(data) {
          console.log(data)
           document.getElementById("sort_problem").innerHTML = data.problem;
           document.getElementById("sort_answer").innerHTML = data.answer;
           curProbId = data.id;

           //Clear skills and add new ones
           document.getElementById("skillsList").innerHTML = "";
           skills = data.skills
           console.log(skills)
           console.log(data.skills[0].skillName)
           skillsLen = Object.keys(data.skills).length
           for (i = 0; i < skillsLen; i++) {
             displaySkill(data.skills[i].skillName, data.skills[i].skillId);
           }
        });
        return false;
      });
    });


    function queryEdited() {
      const queryBox = document.querySelector('#sort_addSkillQuery');
      query = queryBox.value
      $.getJSON($SCRIPT_ROOT + '/db/_get_skill_query', {
        query: query,
      }, function(data) {
        queryResults = data.returnSkills;
          document.getElementById('sort_queryResult').innerHTML = (queryResults[0].name)
          selectedSkillId = queryResults[0].id;
      });
    }

</script>

{% endblock content %}
