{% extends "layout.html" %}

{% block head %}


<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

{% endblock head %}

{% block content %}

  <p id="hiddenId" style="display: none">{{ problem.id }}</p>
  <div class="leftSideContainer">
    <h1 class="leftSideHeadline">Help Sort Problems</h1>
    <h3 class="leftSideDescription">On this page you can add skills to problems
    so that other people can find problems easily</h3>
  </div>

  <div id="sortGradientBox" class="rightSideGradientBox">
    <p class="formLabel">Problem</p>
    <p id="sort_problem">{{ problem.question }}</p>

    <p class="formLabel">Answer</p>
    <p id="sort_answer">{{ problem.answer }}</p>

    <p>Skills:</p>

    <ul id="skillsList">
      {% for skill in problem.skills %}
        <li id="sortSkill_{{ skill.id }}">{{ skill.skillName }} <a style="color: blue" href="#" onclick="removeSkill({{ skill.id }}, {{ problem.id }})">remove</a></li>
      {% endfor %}
    </ul>

    <template>
      <li>asdf
      </li>
    </template>

    <input type="text" id="sort_addSkillQuery" oninput="queryEdited()" placeholder="Search For A Skill"></input>
    <button id='btn_add' onclick="addSkill()">Add</button>
    <button id='btn_createSkill' onclick="createSkill()">Create New Skill</button>
    <div id="sort_skillList">
      <h1 id="sort_queryResult"></h1>
    </div>

    <div id="sortButtons">
      <button id='btn_flag' name="button">Flag</button>
      <button id='btn_next' name="button">Next</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/sort.js') }}">
</script>

{% endblock content %}
