{% extends "layout.html" %}

{% block head %}


<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

{% endblock head %}

{% block content %}

  <div class="leftSideContainer">
    <h1 class="leftSideHeadline">Help Sort Problems</h1>
    <h3 class="leftSideDescription">On this page you can add skills to problems
    so that other people can find problems easily</h3>
  </div>

  <div id="sortGradientBox" class="rightSideGradientBox">
    <p class="formLabel">Problem</p>
    <p>{{ problem.question }}</p>

    <p class="formLabel">Answer</p>
    <p>{{ problem.answer }}</p>

    <p>Skills:</p>
    <div id="sortProbSkills">
      {% for skill in problem.skills %}
      <div id="skillCard_{{ skill.id }}" class="browse_skillCard">
        <a id="browse_SkillName" href="{{ url_for('moddb.browse', getSkills=skill.id ) }}">{{ skill.skillName }}</a>
        <img
          class="removeSkillSvg"
          onclick="removeSkill({{ skill.id }}, {{ problem.id }})"
          href="#"
          src="../static/images/x.svg"/>
      </div>

      <template>
        <div id="skillCard_skillId" class="browse_skillCard">
          <a id="browse_SkillName" href="">skillName</a>
          <img class="removeSkillSvg"
            onclick="removeSkill(skillId, problemId)"
            src="../static/images/x.svg"/>
        </div>
      </template>
      {% endfor %}
    </div>
    <input type="text" id="sort_addSkillQuery" oninput="queryEdited()" placeholder="Search For A Skill"></input>
    <button id='btn_add' onclick="addSkill()">Add</button>
    <button id='btn_add' onclick="addSkill()">Create New Skill</button>
    <div id="sort_skillList">
      <h1 id="sort_queryResult"></h1>
    </div>

    <div id="sortButtons">
      <button id='btn_flag' name="button">Flag</button>
      <button id='btn_submit' type="submit" name="button">Submit</button>
      <button id='btn_skip' name="button">Skip</button>
    </div>
  </div>


  <script type=text/javascript>
    var selectedSkillId = 0;
    $(function() {
      $('button#btn_submit').bind('click', function() {
        console.log("activated")
        $.getJSON($SCRIPT_ROOT + '/db/sort/_submit_sort', {
          //nothing yet
        }, function(data) {
          //nothing yet
        });
        return false;
      });
    });

    $(function() {
      $('button#btn_flag').bind('click', function() {
        console.log("activated")
        $.getJSON($SCRIPT_ROOT + '/db/_flag_problem', {
          //nada
        }, function(data) {
          //nope
        });
        return false;
      });
    });

    $(function() {
      $('button#btn_skip').bind('click', function() {
        console.log("activated")
        $.getJSON($SCRIPT_ROOT + '/db/_skip_problem', {
          //zip
        }, function(data) {
          //zada
        });
        return false;
      });
    });

    function removeSkill(skillId, probId) {
      $.getJSON($SCRIPT_ROOT + '/db/_add_skill', {
        skillId: skillId,
        probId: probId,
      }, function(data) {
        console.log("Skill Removed");
      });
    }

    function addSkill() {
      console.log(selectedSkillId + " added")
      if ({{ problem.id }} != undefined ) {
        probId = {{ problem.id }}
      } else {
        console.log("huh")
      }
      $.getJSON($SCRIPT_ROOT + '/db/_add_skill', {
        probId: probId,
        skillId: selectedSkillId,
      }, function(data) {
        var temp, item, a, i;
        temp = document.getElementsByTagName("template")[0];
        //get the div element from the template:

        item = temp.content.querySelector("div");
        a = item.content.querySelector("a");
        i = item.content.querySelector("img");

        a.textContent = "name"
        document.body.appendChild(item);
        /*
        var tag = document.createElement("div");
        tag.classList.add("browse_skillCard");
        tag.id = "skillCard_number";

        var innertag1 = document.createElement("a");
        innertag1.id = "browse_SkillName";
        innertag1.setAttribute('href', "");
        var text1 = document.createTextNode("");
        innertag1.appendChild(text1)

        var innertag2 = document.createElement("svg");
        var text = document.createTextNode("Tutorix is the best e-learning platform");
        tag.appendChild(text);

        var skillsCont = document.getElementById("sortProbSkills");
        skillsCont.appendChild(tag);
        */
        console.log("yep");
      });


    }
    function queryEdited() {
      const queryBox = document.querySelector('#sort_addSkillQuery');
      console.log("Query is: " + queryBox.value)
      query = queryBox.value
      $.getJSON($SCRIPT_ROOT + '/db/_get_skill_query', {
        query: query,
      }, function(data) {
        console.log(data.returnSkills);
        queryResults = data.returnSkills;
          document.getElementById('sort_queryResult').innerHTML = (queryResults[0].name)
          selectedSkillId = queryResults[0].id;
          console.log(selectedSkillId)
      });
    }
  </script>
{% endblock content %}
