
/* || learn/practice page */
#modeSelector {
  position: absolute;
  right: 5%;
  top: 0;
  width: 20%;
}

#practiceGradientBox {
  background-image: linear-gradient(to top right, #e2ca4a, #1aaad9);
}

#practiceContentContainer {
  position: relative;
  margin-left: 10%;
  margin-top: 5%;
}
#practiceMain {
  position: relative;
  margin-top: 10%;
  width: 80%;
}
#practiceProblem {
  font-size: 1.5em;
}
.practiceMathField {
  position: relative;
  border-bottom: 2px solid white;
  display: block;
  width: 100%;
}
.pracStatsLabel {
  display: inline-block;
}
.pracStatsValue {
  display: inline-block;
}
.pracSetsLabel {
  font-size: 1.5em;
  display: inline-block;
}
.pracSetsValue {
  font-size: 2em;
  display: inline-block;
}
