{% extends "layout.html" %}
{% block content %}
  <div class="form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <h2>Add a Branch</h2>
      <div class="form-group">
        {{ form.parentBranch.label() }}
        {{ form.parentBranch() }}
      </div>
      <div class="form-group">
        {{ form.branchName.label() }}
        {{ form.branchName() }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn", value="Submit") }}
      </div>
    </form>
  </div>
{% endblock content %}
