{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mathlive/mathlive.core.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mathlive/mathlive.css') }}">
<style>
  .mathfield {
            border: 1px solid #ddd;
            padding:5px;
            margin: 10px 10px 10px 0;
            border-radius:5px;
            width: 80%;
            margin-left: 15%;
            background-color: #fff;
        }
</style>
{% endblock head %}

{% block content %}

<div class="formBox" id="problemForm">
  <form method="POST">
    <div name="problem" id="problem" class="mathfield">f(x)= </div>
    <input type="text" name="problem2" id="problem2">
    <button id='btn_submit' type="submit" name="button">Submit</button>
    <div name='output' id='output'></div>
  </form>
</div>



<script src="../../static/mathlive/mathlive.js"></script>
<script type="module">
          import MathLive from 'https://unpkg.com/mathlive/dist/mathlive.mjs';
          MathLive.renderMathInDocument();
          MathLive.makeMathField('mathfield');
</script>
<script>
    const problem = MathLive.makeMathField('problem', {
        onContentDidChange: problem => {
            document.getElementById('output').innerHTML = problem.$text();
            document.getElementById('problem2').innerHTML = problem.$text();
        }
    });
</script>

{% endblock content %}
