{% extends "layout.html" %}
{% block content %}
  <div class="form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <h2>Add a Problem</h2>
      <div class="form-group">
        {{ form.question.label() }}
        {{ form.question() }}
      </div>
      <div class="form-group">
        {{ form.answer.label() }}
        {{ form.answer() }}
      </div>
      <div class="form-group">
        {{ form.classNumber.label() }}
        {{ form.classNumber() }}
      </div>
      <div class="form-group">
        {{ form.section.label() }}
        {{ form.section() }}
      </div>
      <div class="form-group">
        {{ form.type.label() }}
        {{ form.type() }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn", value="Submit") }}
      </div>
    </form>
  </div>
{% endblock content %}
