{% extends "layout.html" %}
{% block content %}
  <div class="form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <h2>Post a Question</h2>
      <div class="form-group">
        {{ form.title.label() }}
        {{ form.title() }}
      </div>
      <div class="form-group">
        {{ form.description.label() }}
        {{ form.description() }}
      </div>
      <div class="form-group">
        {{ form.photo.label() }}
        {{ form.photo() }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn", value="Submit") }}
      </div>
    </form>
  </div>
{% endblock content %}
