{% extends "layout.html" %}
{% block content %}
  <div id="problemCard">

    <div id="cardHeader" class="cardSection">
      <p id="topicName">Topic: {{ problem.topic }}</p>
      <!-- Ratings might be numbers or be small bars that fill with color when their value increases-->
      <div id="ratings">
        <p id="timeRating">Estimated time: {{ problem.expectedTime }}</p>
        <p id="difficultyRating">Difficulty (1-10):{{ problem.difficultyLevel }}</p>
        <p id="confidenceRating">Confidence Rating (1-10): {{ problem.confirmedCorrect }}</p>
      </div>
    </div>

    <div id="cardBody" class="cardSection">
      <p id="question">Question: {{ problem.question }}</p>
    </div>

    <div id="cardFooter" class="cardSection">
      <p id="hiddenAnswer">Answer: {{ problem.answer }}</p>
      <p id="problemAuthor">Author: Unavailable</p>
      <p id="dateCreated">Date Created: Unavailable</p>
    </div>

  </div>
{% endblock content %}
