
/* || Login and register form formatting */
.invisibleBox {
  position: relative;
  display: block;
  height: 100vh;
  top: 0;
  left: 0;
}
.authFormBox {
  background-color: grey;
  width: 15%;
  position: absolute;
  left: 37.5%;
  top: 25%;
  height: 50%;
  padding: 5%;
}
.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}
#authFormLabel {
  position: relative;
  top: -10%;
  font-size: 3em;
}
.form-group {
  margin: 2%;
}
