/* || Colors */
/*
:root {
  --redish: #ed5466;
  --green: #e74c3c;
  --yellow: #C9C243;
  --orange: #FFA644;
  --red: #3498db;
}
call with "var(--blue)" or similar
*/

/* || basics */

body {
  background-color: #121d28;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

/* || Navbar formatting */

nav {
  width: 100%;
  overflow: hidden;
}

#navTitle {
  font-size: 3em;
  padding: 20px;
}

nav ul {
    overflow: hidden;
    float: right;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: block;
    float: left;
    text-align: center;
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

.icon {
  display: none;
  float: right;
}

@media screen and (max-width: 1400px) {
  .topnav ul li a {display: none;}
  .topnav ul li .icon {
    float: right;
    position: absolute;
    display: block;
    right: 8px;
    top: 8px;
  }
}

@media screen and (max-width: 1400px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive ul li .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive ul li a {
    float: none;
    display: inline-block;
    text-align: left;
  }
  .topnav.responsive ul {
    background-color: grey;
  }

}
/* || Landing page specific */

#titleGroup {
  position: absolute;
  top: 25%;
  width: 50%;
  left:25%;
  text-align: center;
}

#landingTitle {
  font-size: 5em;
}

#landingButton {
  font-size: 2.5em;
  background-color: #ed5466;
  margin-left: 21%;
  width: 50%;
  padding: 2%;
}

@media screen and (max-width: 700px) {
  #titleGroup {
    width: 90%;
    left: 5%;
  }
  #landingTitle {
    font-size: 4em;
  }
  #landingButton {
    font-size: 2em;
  }
}

/* || landing page layout */

#landingInformationGrid {
  position: absolute;
  top: 92%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
}

.landingSemisection {
  padding: 20px;
}
.ssTitle {
  position: relative;
  top: 25%;
  font-size: 5em;
}

.ssDesc {
  font-size: 2.5em;
}

@media (min-width: 620px) {
  #st2 {
    grid-column: 2;
    grid-row: 2;
  }
  #sd2 {
    grid-column: 1;
    grid-row: 2;
  }
}

@media (max-width: 620px) {
  #landingInformationGrid {
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25% 25% 25%;
  }
}

/*
body {
  background-color: #f57b51;
}
a {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 1.7em;
}
#navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
#navElement {
  display: inline;
}
nav {
  height: 60px;
  width: 100%;
}

#landingTitle {
  font-size: 80pt;
  margin: 0 auto;
}
#landingSubtitle {
  font-size: 32pt;
  margin: 0 auto;
}
#landingExplanation {
  font-size: 12pt;
  margin: 0 auto;
  margin-top: 20px;
}
#titleGroup {
  position: absolute;
  width: 40%;
  height: 50%;
  left: 5%;
  top: 30%;
  text-align: center;
}

#landingArt {
  position: absolute;
  width: 40%;
  height: 70%;
  right: 5%;
  top: 15%;
  background-color: blue;
}


#sitemapList {
  position: relative;
  width: 60%;
  left: 20%;
  top:10%;
}




#problemCard{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40%;
  width: 80%;
  background-color: #e6e6e6;
  margin: 10%;
}

.cardSection{
  position: relative;
  height: 25%;
  width: 100%;
  padding:none;
  display:block;
  background-color: #bfbfbf;
}

#cardHeader{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#cardBody{
}

#cardFooter{
}

#ratings{
  position: relative;
  height: 10%;
  width: auto;
  display: flex;
  left: 60%;
  flex-direction: row;
}

.ratingValue{
  position: relative;
  width: auto;
  padding: 5px;
  margin: 10px;
  text-align: right;
}

#questionContent{
  width: 100%;
  font-size: 3rem;
  text-align: center;
}

#hiddenAnswer{
  text-align: left;
}

#problemAuthor{
  text-align: right;
}

#dateCreated{
  text-align: right;
}

.formBox {
  width: 30%;
  height: 40%;
  text-align: center;
  background-color: #e6e6e6;
  margin-left: 35%;
}




.cardContainer {
  display: grid;
  grid-template-columns: 40% 40%;
}
.card {
  display: grid;
  background-color: lightgrey;
  width: 500px;
  height: 500px;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 37.5% 25% 37.5%;
  margin-bottom: 5%;
}
.grid-element {
  padding: 10%;
}
#questionPart {
  grid-column: span 2;
  grid-row: 1;
}
#imagePart {
  grid-column-start: 3;
  grid-row-start: 1 / 2;
}
#topicPart {
  grid-column: 1;
  grid-row: 2;
}
#answerPart {
  grid-column: 2;
  grid-row: 2;
}
#authorPart {
  grid-column: 3;
  grid-row: 2;
}
#statsPart {
  grid-column: span 3;
  grid-row: 3;
}
#statsBox {
  width: 80%;
  height: 130%;
  margin-left: 5%;
  padding: 5%;
  margin-top: -10%;
}
.statsSection {
  height: 33%;
  padding-left: 10px;
}
.statsBar {
  width: 75%;
  height: 10px;
  background-color: white;
  border: 1px solid black;
  position: relative;
  display: inline-block;
}
.statLabel {
  margin: 0 auto;
}
.statDesc {
  margin: 0 auto;
  display: inline-block;
}

#imagePlaceholder {
  background-color: grey;
  height: 80%;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
}
.partTitle {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 auto;
}
#questionContent {
  font-size: 5em;
  margin: 0 auto;
}
#topicContent {
  font-size: 1.3em;
  margin: 0 auto;
}
#answerContent {
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
}
#authorContent {
  font-size: 2em;
  margin: 0 auto;
}


.mathfield {
  text-align: left;
}
*/
