body {
  background-color: #f1f1f1
}
#problemCard{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40%;
  width: 80%;
  background-color: #e6e6e6;
  margin: 10%;
}

.cardSection{
  position: relative;
  height: 25%;
  width: 100%;
  padding:none;
  display:block;
  background-color: #bfbfbf;
}

#cardHeader{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#cardBody{
}

#cardFooter{
}

#ratings{
  position: relative;
  height: 10%;
  width: auto;
  display: flex;
  left: 60%;
  flex-direction: row;
}

.ratingValue{
  position: relative;
  width: auto;
  padding: 5px;
  margin: 10px;
  text-align: right;
}

#questionContent{
  width: 100%;
  font-size: 3rem;
  text-align: center;
}

#hiddenAnswer{
  text-align: left;
}

#problemAuthor{
  text-align: right;
}

#dateCreated{
  text-align: right;
}

.formBox {
  width: 30%;
  height: 40%;
  text-align: center;
  background-color: #e6e6e6;
  margin-left: 35%;
}
